@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-brand: #141414;
  --color-accent: #00FF00;
  --color-bg: #E4E3E0;
}

@layer base {
  body {
    @apply bg-bg text-brand font-sans antialiased selection:bg-accent selection:text-brand;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
